<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>
        Statilize
    </title>
  </head>
<style>
    h1{
   border: 3px outset black;
   background-color: orange;
   text-align: center;
   }
    h2{
    text-align: center;
    }
    table {
    border: 3px outset black;
    background-color:lightblue;
    }
</style>

  <body>
<h1>
    Statalize
</h1>
  <h2>
      Teams
  </h2>
<table>
<tr>
    <td>Team Name</td>
    <td>Wins</td>
    <td>Losses</td>
</tr>
      {% for team in Teams%}
    <tr>
        <td>{{team.team_name}}</td>
        <td>{{team.wins}}</td>
        <td>{{team.losses}}</td>
    </tr>
  {% endfor %}
  </table>
  </body>

</html>