
{% extends 'base.html' %}
{% block body %}
<div class = "container mt-5 pt-3 bg-light rounded-3">
      <h2>
          Current Team Standings:
      </h2>
    <table class = "sortable table">
    <thead>
        <tr>
            <td>Team Name</td>
            <td>Wins</td>
            <td>Losses</td>
        </tr>
    </thead>
          {% for team in Teams%}
        <tr>
            <td><a href="{% url 'teams' id=team.id %}">{{team.team_name}}</a></td>
            <td>{{team.wins}}</td>
            <td>{{team.losses}}</td>
        </tr>
      {% endfor %}
</table>
<div class ="container pb-3">
</div>
</div>

    <div class = "container mt-5 pt-3 bg-light rounded-3">
      <h2>
          Upcoming Games:
      </h2>
    <table class = "sortable table">
    <thead>
        <tr>
            <td>Date and Time</td>
            <td>Home</td>
            <td>Away</td>
        </tr>
    </thead>
        {% for game in games %}
        <tr>
            <td>{{ game.date }}</td>
            <td>{{ game.home_team }}</td>
            <td>{{ game.away_team }}</td>
            {% if user == game.home_team.coach or user.username == 'admin' %}
                <td><a href="{% url 'logout' %}">Adjust</a></td>
            {% endif %}
        </tr>
        {% endfor %}
</table>
        {% if user.username == 'admin' %}
        <a href="{% url 'new_game' %}">new game</a>
        {% endif %}
<div class ="container pb-3">
</div>
    </div>
{% endblock %}
