{% extends 'base.html' %}

{% block body %}
  <h2>
      Players
  </h2>
<table class="sortable">
<tr>
    <td>Player Name</td>
  <td>Team</td>
    <td>Age</td>
    <td>Year</td>
    <td>Height</td>
    <td>Weight</td>
    <td>POS</td>
    <td>G</td>
    <td>Hits</td>
    <td>AB</td>
    <td>BB</td>
    <td>SO</td>
    <td>1B</td>
    <td>2B</td>
    <td>3B</td>
    <td>HR</td>
    <td>Runs</td>
    <td>RBI</td>
    <td>SB</td>
    <td>SAC</td>
    <td>AVG</td>
    <td>OBP</td>
    <td>SLG</td>
    <td>OPS</td>
</tr>
      {% for Player in player_stats %}
    <tr>
        <td>{{Player.name}}</td>
      <td><a href="{% url 'teams' id=Player.team.id %}">{{Player.team.team_name}}</a></td>
        <td>{{Player.age}}</td>
        <td>{{Player.year}}</td>
        <td>{{Player.height}}</td>
        <td>{{Player.weight}}</td>
        <td>{{Player.position}}</td>
        <td>{{Player.games}}</td>
        <td>{{Player.hits}}</td>
        <td>{{Player.AB}}</td>
        <td>{{Player.BB}}</td>
        <td>{{Player.SO}}</td>
        <td>{{Player.Singles}}</td>
        <td>{{Player.Doubles}}</td>
        <td>{{Player.Triples}}</td>
        <td>{{Player.HR}}</td>
        <td>{{Player.Runs}}</td>
        <td>{{Player.RBI}}</td>
        <td>{{Player.SB}}</td>
        <td>{{Player.SAC}}</td>
        <td>{{Player.avg}}</td>
        <td>{{Player.obp}}</td>
        <td>{{Player.slg}}</td>
        <td>{{Player.ops}}</td>
    </tr>
  {% endfor %}
</table>
<h2>Pitchers</h2>
<table class="sortable">
<tr>
    <td>Pitcher Name</td>
    <td>Team</td>
    <td>Age</td>
    <td>Year</td>
    <td>Height</td>
    <td>Weight</td>
    <td>POS</td>
    <td>G</td>
    <td>GS</td>
    <td>Hits</td>
    <td>BB</td>
    <td>SO</td>
    <td>HR</td>
    <td>Runs</td>
    <td>ER</td>
    <td>IP</td>
    <td>ERA</td>
    <td>WHIP</td>
    <td>AVG</td>
</tr>
      {% for Pitcher in pitcher_stats %}
    <tr>
        <td>{{Pitcher.name}}</td>
        <td><a href="{% url 'teams' id=Pitcher.team.id %}">{{Pitcher.team.team_name}}</a></td>
        <td>{{Pitcher.age}}</td>
        <td>{{Pitcher.year}}</td>
        <td>{{Pitcher.height}}</td>
        <td>{{Pitcher.weight}}</td>
        <td>{{Pitcher.position}}</td>
        <td>{{Pitcher.games}}</td>
        <td>{{Pitcher.GS}}</td>
        <td>{{Pitcher.hits}}</td>
        <td>{{Pitcher.walks}}</td>
        <td>{{Pitcher.SO}}</td>
        <td>{{Pitcher.HR}}</td>
        <td>{{Pitcher.Runs}}</td>
        <td>{{Pitcher.ER}}</td>
        <td>{{Pitcher.IP}}</td>
        <td>{{Pitcher.era}}</td>
        <td>{{Pitcher.whip}}</td>
        <td>{{Pitcher.avg}}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}