{% extends 'base.html' %}
{% block body %}
<div class = "container bg-dark border border-success mt-5 pt-3 rounded-3">
      <h2>
          Upcoming Games:
      </h2>
    <table class = "sortable table">
      <thead>
        <tr>
            <td>Date and Time</td>
            <td>Home</td>
            <td>Away</td>
        </tr>
      </thead>
         {% for game in games %}
        <tr>
            <td>{{ game.date }}</td>
            <td>{{ game.home_team }}</td>
            <td>{{ game.away_team }}</td>
            {% if user == game.home_team.coach or user.username == 'admin' %}
                <td><a href="{% url 'edit_game' game_id=game.id %}">Submit Game Stats</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% if user.username == 'admin' %}
        <a href="{% url 'new_game' %}">new game</a>
        {% endif %}
  <div class ="container pb-3"></div>
</div>
{% endblock %}
