{% extends 'base.html' %}
{% block body %}
<div class = "container border mt-5 pt-3 rounded-3">
      <h2>
          Current Team Standings:
      </h2>
    <table class = "sortable table">
    <thead>
        <tr>
            <td>Team Name</td>
            <td>Wins</td>
            <td>Losses</td>
        </tr>
    </thead>
          {% for team in Teams%}
        <tr>
            <td><a href="{% url 'teams' id=team.id %}">{{team.team_name}}</a></td>
            <td>{{team.wins}}</td>
            <td>{{team.losses}}</td>
        </tr>
      {% endfor %}
</table>
<div class ="container pb-3"></div>
</div>
{% endblock %}
