{% extends 'base.html' %}
{% block body %}
    <h2>Add Away Team Pitchers for {{ game.away_team }}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Pitcher Stats</button>
    </form>

    <br>
    <a href="{% url 'add_home_team_players' game.id=game_id %}">Proceed to Home Team Players</a>
    <a href="{% url 'add_away_team_players' game.id=game_id %}">Proceed to Away Team Players</a>
    <a href="{% url 'add_home_team_pitchers' game.id=game_id %}">Proceed to Home Team Pitchers</a>
    <a href="{% url 'game' game.id=game_id %}">Back to Game</a>
{% endblock %}