<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} Statalize {% endblock %}
    </title>
  </head>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<style>
    h1{
        background-color: orange;
    }
    body {
        font-family: Roboto, sans-serif;
        margin: 0;
        padding: 0;
        color: black;
        background-color:
    }

    main {
        padding: 20px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #333;
        padding: 8px;
        text-align: center;
    }
</style>
    <body>
        <table style="background-color: orange">
            <tr style="border: 0px">
                <td style="width:90%; border: 0px">
                    <h1>
                        <a href="{% url 'home' %}">Statalize</a>
                    </h1>
                </td>
                <td style="border: 0px">
                    {% if user.is_authenticated %}
                        <h1><a href="{% url 'logout' %}">Logout</a></h1>
                    {% else %}
                        <h1><a href="{% url 'login' %}">Login</a></h1>
                    {% endif %}
                </td>
            </tr>

        </table>



        {% block body %}
        {% endblock %}
    </body>
</html>