{% extends 'base.html' %}
{% block body %}
    <div id="page-container" class="container bg-dark border border-success mt-5 pt-3 rounded-3">
        <section>
            <div class="container">

            </div>
        </section>

        <div class="container">
            <h1>Edit Team: {{ team }}</h1>
            <div class ="container pb-3"></div>
                    <h3>Players</h3>
            <div>
                {% for player in players %}
                    <div class="player-option">
                        <label>
                            <input type="checkbox" name="players" value="{{ player.id }}">
                            {{ player }} - {{ player.player_year }} - {{ player.player_position }}
                        </label>

                        <!-- <button type="button">Edit Player</button> -->
                    </div>
                {% endfor %}
            </div>
                <a href="{% url 'add_player' team_id=team.id is_pitcher=0 %}"><button type="button">Add Player</button></a>
            <div class ="container pb-3"></div>

            <h3>Pitchers</h3>
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {% for pitcher in pitchers %}
                    <div class="player-option">
                        <label>
                            <input type="checkbox" name="pitchers" value="{{ pitcher.id }}">
                            {{ pitcher }} - {{ pitcher.pitcher_year }} - {{ pitcher.pitcher_position }}
                        </label>

                        <!-- <button type="button">Edit Pitcher</button> -->
                    </div>
                {% endfor %}
            </div>
                <a href="{% url 'add_player' team_id=team.id is_pitcher=1 %}"><button type="button">Add Pitcher</button></a>
                <div class ="container pb-5"></div>

            <button type="submit">Delete Player(s)</button>
            </form>
            <div class ="container pb-3"></div>
        </div>
    </div>

{% endblock %}
