{% extends 'base.html' %}
{% block body %}
<div>
    <h2>Create/Edit</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Game</button>
    </form>
</div>
<div>
    {% for person in home_team_pitcher %}
        {{ person }}
    {% endfor %}
</div>

<div>
    {% for person in home_team_player %}
        {{ person }}
    {% endfor %}
</div>

<div>
    {% for person in away_team_pitcher %}
        {{ person }}
    {% endfor %}
</div>

<div>
    {% for person in away_team_player %}
        {{ person }}
    {% endfor %}
</div>
{% endblock %}