
{% extends 'base.html' %}
{% block body %}
    <div id="page-container">
        <section>
            <div class="container">

            </div>
        </section>

        <div class="container">
            <h2>New Coach</h2>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {% if not new %}
                    <p>Username taken</p>
                {% endif%}
                {% if not match %}
                    <p>Passwords do not match</p>
                {% endif%}
                <button type="submit">Create Account</button>
            </form>
        </div>
    </div>

{% endblock %}
