
{% extends 'base.html' %}
{% block body %}
    <div id="page-container" class = "container bg-dark border border-success mt-5 pt-3 rounded-3">
        <section>
            <div class="container">

            </div>
        </section>

        <div class="container">
            <h2>New Team</h2>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {% if not new %}
                    <p>Team name taken</p>
                {% endif%}
                <button type="submit">Create Team</button>
            </form>
            <div class ="container pb-3"></div>
        </div>
    </div>

{% endblock %}
