{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div id="page-container" class="container bg-dark border border-success mt-5 pt-3 rounded-3">
        <section>
            <div class="container">

            </div>
        </section>

        <div class="container">
            <h2>New Player</h2>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% crispy form %}
            </form>
            <div class ="container pb-3"></div>
        </div>
    </div>

{% endblock %}
